.navbar {
  display: flex;
  border-bottom: 2px solid var(--bg-alt);
  padding-bottom: 0.5rem;
}

.navbar-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  padding: 0.5rem;
  background-color: var(--bg-alt);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.navbar-item-active {
  font-weight: bold;
}

.navbar-home {
  margin-right: auto;
}

.navbar-item:hover {
  background-color: var(--hover);
}

.navbar-item:active {
  background-color: var(--active);
}
