body {
  --fg: #333;
  --bg: #eee;
  --bg-alt: #ddd;
  --hover: #ccc;
  --active: #bbb;

  color: var(--fg);
  background-color: var(--bg);
}

button {
  color: inherit;
}

svg {
  fill: var(--fg);
}
