@import "./tailwind.css";

.navbar-item {
  @apply flex items-center gap-1 pt-1.5 pr-2 pb-1.5 pl-2;
}

.navbar-item-link {
  @apply bg-bg-alt cursor-pointer rounded-lg border-0;
}

.navbar-dropdown {
  position: relative;
  z-index: 1;
}

.navbar-dropdown-content {
  transition:
    opacity 0.1s ease,
    visibility 0.1s ease;

  @apply bg-bg shadow-fg invisible absolute top-8 right-0 flex flex-col opacity-0 shadow-[0_0_10px];
}

.navbar-dropdown:hover .navbar-dropdown-content {
  opacity: 1;
  visibility: visible;
}
