.timer {
  padding-bottom: 1rem;
}

.timer-fullscreen {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30vw;
  z-index: 9999;

  /* background-color: var(--fg); */
  /* color: var(--bg); */
}
